{{!-- ADD EVENT MODAL --}}

<div class="modal fade" id="add-event-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">

		<div class="modal-content">

			{{!-- Modal Header --}}
			<div class="modal-header">
				<h5 class="modal-title">add an event</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			{{!-- Modal Body --}}
			<div class="modal-body">
				<form class="form-horizontal container" action="/events/add" id="add-event-form">
				
					{{!-- Event title --}}
					<div class="form-group row">
						<label class="control-label col-sm-4" for="event-title">*event title: </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="event-title" placeholder="title" required>
						</div>
					</div>

					{{!-- Event location --}}
					<div class="form-group row">
						<label class="control-label col-sm-4" for="event-location">location: </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="event-location" placeholder="location (optional)">
						</div>
                    </div>
                    
                    <hr class="my-4">

					{{!-- Dates --}}
					<div class="form-group">

						<div class="row">
							{{!-- Start date --}}
							<div class="col-sm-6">
								<label class="control-label" for="start-datepick">start date: <small class="text-muted font-italic">(m-d-y)</small> </label>
								<div class="input-group" id="start-datepick">
									
									<select class="custom-select" id="start-month-picker">
										<option selected>month</option>
									</select>

									<select class="custom-select" id="start-day-picker">
										<option selected>day</option>
									</select>

									<select class="custom-select" id="start-year-picker">
										<option selected>year</option>
									</select>
									
								</div>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="event-allday">
									<label class="form-check-label" for="event-allday">
										this event is an all-day event. 
									</label>
                                </div>
                                
                                <br><br>

								<div class="input-group" id="start-timepick">
                                    
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">start time</span>
                                    </div>

									<input type="number" class="form-control" min="1" max="12" step="1" id="start-time-hour">
									<input type="number" class="form-control" min="0" max="55" step="5" id="start-time-min">

									<select class="custom-select" id="start-time-ampm">
										<option value="am">AM</option>
										<option value="pm">PM</option>
									</select>

                                </div>
                                
                                <br>

								<div class="input-group" id="end-timepick">
                                    
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">end time</span>
                                    </div>

									<input type="number" class="form-control" min="1" max="12" step="1" id="end-time-hour">
									<input type="number" class="form-control" min="0" max="55" step="5" id="end-time-min">

									<select class="custom-select" id="end-time-ampm">
										<option value="am">AM</option>
										<option value="pm">PM</option>
									</select>

								</div>
							</div>

							{{!-- End date --}}
							<div class="col-sm-6">
								<label class="control-label" for="end-datepick">end date: </label>
								<div class="input-group" id="end-datepick">
									
									<select class="custom-select" id="end-month-picker">
										<option selected>month</option>
									</select>

									<select class="custom-select" id="end-day-picker">
										<option selected>day</option>
									</select>

									<select class="custom-select" id="end-year-picker">
										<option selected>year</option>
									</select>

								</div>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="no-end-date">
									<label class="form-check-label" for="no-end-date">
										this event occurs on only one date 
										<span class="text-muted">
											(does not span over several days)
										</span>
										<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="if checked, this event will only occur on the start date you selected."></i>
									</label>
								</div>

							</div>
                        </div>
                        
                        <hr class="my-4">

						{{!-- Frequency --}}
						<div class="row" id="event-freq-div">

                            <div class="col-sm-4">
                                <label class="control-label">frequency: </label>
                            </div>
                            
                            <div class="col-sm-4 form-check">
                                <input class="form-check-input" type="checkbox" id="event-hasfreq">
                                <label class="form-check-label" for="event-hasfreq">event repeats.</label>
                            </div>

							<div class="col-sm-4 input-group" id="event-freq-picker">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">every</span>
                                </div>
								
								<select class="custom-select" id="event-freq">
									<option value="monthly">month</option>
									<option value="weekly">week</option>
									<option value="biweekly">2 weeks</option>
									<option value="weekdays">certain weekdays</option>
                                </select>
                            </div>
                            
                        </div>
                        
                        <div class="row mx-auto text-center" id="event-daypicker">
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="event-sun" value="sun">
                                    <label class="form-check-label" for="event-sun">sun</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="event-mon" value="mon">
                                    <label class="form-check-label" for="event-mon">mon</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="event-tues" value="tues">
                                    <label class="form-check-label" for="event-tues">tues</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="event-wed" value="wed">
                                    <label class="form-check-label" for="event-wed">wed</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="event-thur" value="thur">
                                    <label class="form-check-label" for="event-thur">thur</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="event-fri" value="fri">
                                    <label class="form-check-label" for="event-fri">fri</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="event-sat" value="sat">
                                    <label class="form-check-label" for="event-sat">sat</label>
                                </div>
                            </div>

					</div>

					{{!-- Event description --}}
					<div class="form-group row">
						<label class="control-label col-sm-4" for="event-desc">why is this stress-inducing?: </label>
						<div class="col-sm-8">
							<textarea type="text" class="form-control" id="event-desc" placeholder="description (optional)"></textarea>
						</div>
					</div>

					{{!-- Submit, add event --}}
					<div class="text-center">
						<button type="submit" class="btn btn-primary" id="add-event-btn">add event</button>
					</div>

				</form>
			</div>

			{{!-- Modal footer --}}
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
			</div>

		</div>

	</div>
</div>