<div class="jumbotron bg-light">
	<h1 class="display-4">Calendar</h1>
	<p class="lead">Put upcoming stressful events here.</p>
	<hr class="my-4">

	<div id="calendar">

		{{!-- Calendar Header --}}
		<div id="calendar-header" class="d-flex justify-content-between">
			<span class="text-left">
				{{!-- left buttons --}}
				<button role='button' id='month-prev' class='btn btn-sm btn-outline-primary'>
					<i class="fas fa-arrow-left fa-2x"></i>
				</button>
				<button id='month-today' class="btn btn-sm btn-outline-primary">
					<i class="fas fa-clock fa-2x"></i>
				</button>
			</span>

			<span class="text-center font-italic">
				<span id="month"></span>, 
				<span id="year"></span>
			</span>

			<span class="text-right">
				{{!-- right buttons --}}
				<button role='button' id='month-next' class='btn btn-sm btn-outline-primary'>
					<i class="fas fa-arrow-right fa-2x"></i>
				</button>
			</span>
		</div>

		{{!-- Table for Calendar --}}
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th scope="col">Sunday</th>
				<th scope="col">Monday</th>
				<th scope="col">Tuesday</th>
				<th scope="col">Wednesday</th>
				<th scope="col">Thursday</th>
				<th scope="col">Friday</th>
				<th scope="col">Saturday</th>
			</thead>

			<tbody>
				{{!-- Appended appropriately in /js/calendar.js --}}
			</tbody>

		</table>

		<div class="text-center">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-event-modal">
				<i class='fas fa-plus-circle'></i> add event
			</button>
		</div>

	</div>
</div>

{{> addEvent}}