<div class="jumbotron bg-light">
	<h1 class="display-4">Calendar</h1>
	<p class="lead">Put upcoming stressful events here.</p>
	<hr class="my-4">

	<div id="calendar">
		<div class="text-center font-italic">
			<span id="month"></span> 
			<span id="year"></span>
		</div>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th scope="col">Sunday</th>
				<th scope="col">Monday</th>
				<th scope="col">Tuesday</th>
				<th scope="col">Wednesday</th>
				<th scope="col">Thursday</th>
				<th scope="col">Friday</th>
				<th scope="col">Saturday</th>
			</thead>

			<tbody>

			</tbody>
		</table>
	</div>
</div>

<script src="/js/calendar.js"></script>