<div>
	<div class="jumbotron cheer-jumbo">
		<div class="container">
			<h3 class="text-center">interest me!</h3>
		</div>
	</div>

	<h5 class="text-center">weather</h5>
	<div class="row">
		{{> interest}}
	</div>
</div>

<div>
	<div class="jumbotron cheer-jumbo">
		<div class="container">
			<h3 class="text-center">amuse me!</h3>
		</div>
	</div>
	{{> amuse}}
</div>