/* STYLESHEET FOR MOBILE VIEWERS */

@media only screen and (max-width: 999px) {
	/* Style HTML elements */
	nav, footer {
		background-color: #559;
		color: white;
	}
	nav {
		height: auto;
		margin-top: auto;
		margin-bottom: auto;
	}
	footer {
		height: 4%;
		padding-top: auto;
		padding-bottom: auto;
	}

	/* Styling for Classes */

	/* Navbar classes styling */
	.navbar-brand {
		text-shadow: 2px 2px 8px black;
	}
	.navbar-brand:hover, a.nav-link:hover {
		color: white;
		filter: drop-shadow(2px 2px 8px silver);
		text-shadow: none;
	}
	.navbar-brand img {
		filter: drop-shadow(2px 2px 8px black);
	}
	li.nav-item {
		font-style: italic;
	}
	#navbar-links {
		background-color: #559;
	}

	/* Navbar dropdown classes styling */
	.dropdown-menu {
		background-color: #559;
		box-shadow: 0px 0px 10px black;
		z-index: 2;
	}
	.dropdown-menu a, .dropdown-menu button {
		color: white;
	}
	.dropdown-menu h6 {
		color: white;
		font-style: italic;
		font-family: cursive;
		text-shadow: 2px 2px 6px black;
	}
	.dropdown-item:hover {
		color: #559;
	}


	/* Styling for ID's */

	#body {
		font-family: "Ubuntu", sans-serif;
		position: relative;
		top: 8%;
		bottom: 4%;
	}
}