/* MAIN CSS STYLESHEET */

/* Import "Ubuntu" Font Family */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

html, body {
	height: 100%;
}

.cheer-jumbo {
	margin-top: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: auto;
}

#add-event-form .control-label {
	font-weight: bold;
}

#event-daypicker {
	display: none;
}

#weather-cards {
	width: 100%;
}