html, body {
    font-family: 'Fira Mono', monospace;
    height: 100%;
}

nav, footer {
    background-color: #559;
    color: white;
}

.dropdown-menu {
    background-color: #559;
    box-shadow: 0px 0px 10px black;
    z-index: 2;
}
.dropdown-menu a, .dropdown-menu button {
    color: white;
}
.dropdown-menu h6 {
    color: white;
    font-style: italic;
    font-family: monospace;
    text-shadow: 2px 2px 6px black;
}

.navbar-brand {
    text-shadow: 2px 2px 8px black;
}

.navbar-brand:hover, a.nav-link:hover {
    color: white;
    filter: drop-shadow(2px 2px 8px silver);
    text-shadow: none;
}

.navbar-brand img {
    filter: drop-shadow(2px 2px 8px black);
}

.container {
    position: relative;
    display: block;
    margin-top: 200px;
}